body {
  font-family: 'Lato', sans-serif;
}

.image-title {
  padding: 2rem 0 1rem 0;
}

.image {
  margin: 1rem 0;
}

figcaption {
  color: #777;
  display: inline-block;

}

figure button {
  border: 0;
  padding: 0;
}

.row{
    overflow: hidden;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

h1, h2, h3 {
  font-family: 'Work Sans', sans-serif !important;
}

$a-tags: 'a, a:active, a:hover, a:visited, .btn-link, .btn-link:hover, .btn-link:visited, .btn-link:active';

#{$a-tags} {
  color: #006bf9;
}
